[Desktop Entry]
Name=BlockCraft
GenericName=BlockCraft
Comment=BlockCraft by Wanted Games
Exec=blockcraft
Icon=minetest-icon
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false

